:root {
  --brand-color: #2196f3;
  --main-bcg-color: #ffffff;
  --filter-btn-color: #f5f4fa;
  --brand-text-color1: #212121;
  --brand-text-color2: #757575;  
}


h3 {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  background-color: var(--main-bcg-color);
  font size: 18px;
  Line height: 36px;
  Line height: 1.7;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
}

/* шапка */

.site-nav {
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
  font-style: normal;
  font-weight: 500;
  font size: 14;
}

.site-nav-item {
 font-family: "Roboto", sans-serif;

}

.site-nav-item:hover,
.site-nav-item:focus {
  color: #2196F3);
}


.auth-nav {
  color: var(--brand-text-color2);
  background-color: var(--main-bcg-color);
}

.filter-button-item {
  color: var(--brand-color);

}
.filter-button-item:hover,
.filter-button-item:focus {
  color: #2196f3;
}
