:root {
  --brand-color: #2196f3;
  --main-bcg-color: #ffffff;
  --filter-btn-color: #f5f4fa;
}


h3 {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  Font size: 18px;
  Line height: 36px;
  Line height: 1.7;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

/* шапка */

.site-nav {
  color: #212121);
}

.site-nav:hover,
.site-nav:focus {
  color: #2196F3);
  
}

.auth-nav {
  color: #757575;
}

.filter-button {
  color: #2196f3;
}
.filter-button:hover,
.filter-button:focus {
  color: #2196f3;
}
